.nav-container {
  grid-area: header;
  display: grid;
  grid-template-areas: "logo logo logo link";
  padding: 20px;
  background-color: transparent;
}

.header {
  grid-area: header;
  border: 5px solid black;
  padding: 20px;
}
.nav-links {
  grid-area: link;
  display: flex;
  align-items: center;
  justify-content: end;
  align-content: space-between;
}
.logo {
  width: 100px;
  grid-area: logo;
  display: grid;
  padding: 20px;
}
.link {
  display: grid;
  padding: 5px;
}
